@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
    width: 850px;
    font-family: 'Indie Flower', cursive;
    background-color: rgb(245, 244, 244);
}

main {
    text-align: center;
}

h1 {
    color: purple;
}

h2 {
    color: pink;
}

.color {
    width: 5em;
    height: 5em;
    margin-top: .5%;
    margin-left: .5%;
}

.button-image {
    width: 40px;
    height: 20px;
}

#red {
    background: red;
}

#orange {
    background: orange;
}

#yellow {
    background: yellow;
}

#green {
    background: green;
}

#blue {
    background: blue;
}

#purple {
    background: purple;
}

#pink {
    background: pink;
}

.head {
    width: 200px;
    height: auto;
    margin-top: 7%;
    margin-left: -50%;
}

.part {
    display: inline-block;
    height: 20px;
    width: 70px;
    border-radius: 100%;
    margin-left: -35px;
    margin-bottom: 10%;
}

.red {
    background: red;
}

.orange {
    background: orange;
}

.yellow {
    background: yellow;
}

footer {
    color: purple;
    background-color: pink;
    text-align: center;
}